.button-fix {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-decor-none {
    text-decoration: none;
}

.photo-shell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*.photo-shell {*/
/*    display: grid;*/
/*    grid-template-rows: 1fr 1fr 1fr;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    grid-gap: 2vw;*/
/*    width: 100%;*/
/*}*/

.photo-post {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
    object-fit: contain;
}
.photo-div {
    width: 45%;

}


.fix-margin-icon {
    margin-top: 16px;
}


.photo-preview {
    width: 97%;
    margin: 10px;
}


.margin-bottom{
    margin-bottom: 20px;
}

.modal-img {
    width: 100%;
}

.PopoutWrapper__container {
    z-index: 147483638;
}
